/* BookDetail.css */
.book-detail {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    padding: 30px;
    max-width: 800px; /* Adjust the max-width for a smaller layout */
    margin: 0 auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: rgba(233, 138, 44, 0.5);
    box-shadow: 0 0 8px rgba(233, 138, 44, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .book-detail h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
    text-align: center;
  }
  
  .book-detail p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 10px;
    color: #555;
    text-align: center;
  }
  
  /* Center the image in the page and make it smaller */
  .book-detail .book-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure the container takes full width */
    max-width: 200px; /* Set a smaller max-width for the image */
    height: 200px; /* Set a smaller height for the image */
    margin-bottom: 20px; /* Add some space below the image */
  }
  
  .book-detail img {
    object-fit: contain; /* Ensure image scales properly without distortion */
    width: 100%; /* Image fills container width */
    height: 100%; /* Image fills container height */
    border-radius: 8px; /* Optionally, add rounded corners */
    max-width: 300px; /* Set a max width for the image */
  height: 400px; /* Fixed height */
  margin-bottom: 20px; 
  }
  
  /* Purchase button styles */
  .purchase-button {
    background-color: #71410b; /* Similar to GoodReads button color */
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .purchase-button:hover {
    background-color: #e55d51;
  }
  
  /* Popup styles */
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .popup-content {
    background-color: #fff;
    border-radius: 8px;
    padding: 30px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .popup-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .popup-button {
    background-color: #ff6f61;
    color: white;
    font-size: 1.1rem;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
  }
  
  .popup-button:hover {
    background-color: #e55d51;
  }
  
  .popup-button:focus {
    outline: none;
  }
  
  .popup .popup-button:last-child {
    background-color: #888;
  }
  
  .popup .popup-button:last-child:hover {
    background-color: #666;
  }
  